{
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "singleQuote": false
}
