@layer utilities {
  @responsive {
    .skip-to-content {
      @apply absolute left-1/2 transform -translate-x-1/2 w-px h-px p-0 -m-px overflow-hidden text-xl bg-primary whitespace-nowrap;
      clip: rect(0, 0, 0, 0);

      &:focus {
        @apply w-auto h-auto pt-3 pb-1.5 px-4 m-0 visible text-dark;
        z-index: 999;
        clip: auto;
      }
    }

    .decor {
      @apply relative;

      &::before {
        @apply absolute left-0 top-4 h-10 w-2 rounded-r-lg;
        content: "";
      }
    }

    .decor--primary {
      &::before {
        @apply bg-primary;
      }
    }

    .decor--purple {
      &::before {
        @apply bg-purple;
      }
    }

    .\!absolute {
      @apply absolute #{!important};
    }
  }

  /**
   * Button
   */
  .btn {
    @apply relative inline-block appearance-none rounded-none no-underline;

    &--bottom {
      @apply absolute left-2 top-2 block w-full h-full bg-primary transition-all duration-200 ease-linear;
    }

    &--top {
      @apply relative left-0 top-0 w-full h-full border-2 border-secondary;
      padding: 24px 34px 22px 34px;
    }

    &--label {
      @apply font-bold text-xs text-secondary text-center tracking-widest uppercase;
    }

    &--border {
      @apply absolute bg-primary transition-all duration-300 ease-out;
    }

    &--border-left {
      @apply -left-0.5 -bottom-0.5 w-0.5 h-0;
    }

    &--border-top {
      @apply -left-0.5 -top-0.5 w-0 h-0.5;
    }

    &--border-right {
      @apply -right-0.5 -top-0.5 w-0.5 h-0;
    }

    &--border-bottom {
      @apply -right-0.5 -bottom-0.5 w-0 h-0.5;
    }

    &:hover {
      .btn--bottom {
        @apply left-0 top-0 bg-secondary;
      }

      .btn--label {
        @apply text-primary;
      }

      .btn--border-left,
      .btn--border-right {
        height: calc(100% + 2px);
      }

      .btn--border-top,
      .btn--border-bottom {
        width: calc(100% + 2px);
      }
    }
  }
}
