@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
    src: url("#{$src}.woff2") format("woff2"),
      url("#{$src}.woff") format("woff");
  }
}
