name: CI Checks

on:
  pull_request:
    branches:    
      - main

jobs:
  check:
    name: Pull Request Lint/Build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
